<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="">Home</a></li>
    <li *ngIf="userAuthenticated" routerLinkActive="active">
  <a href="javascript:void(0)" (click)="goToDashboard()">goToDashboard</a>
</li>

  </ul>


  <ul class="nav navbar-nav navbar-right">
    <li *ngIf="!userAuthenticated" routerLinkActive="active">
      <a routerLink="login">Login</a>
    </li>
    <li *ngIf="!userAuthenticated" routerLinkActive="active">
      <a routerLink="signup">Sign-Up</a>
    </li>
    <li *ngIf="userAuthenticated" routerLinkActive="active">
  <a href="javascript:void(0)" (click)="logout()" class="logout-link">Logout</a>
</li>
  </ul>
</nav>